apiVersion: v1
kind: Secret
metadata:
  name: filemanager-secret
  namespace: file-manager
type: Opaque
stringData:
  AZURE_CLIENT_SECRET: "SEU_AZURE_CLIENT_SECRET_AQUI"
  ELASTIC_SECRET_TOKEN: "SEU_ELASTIC_SECRET_TOKEN_AQUI"
  DB_PM_CONNECTION_STRING: "mssql+pyodbc://<user>:<password>@<host>/<db>?driver=ODBC+Driver+17+for+SQL+Server"
