apiVersion: v1
kind: Secret
metadata:
  name: agent-secret
  namespace: weather-agent
type: Opaque
stringData:
  GRAFANA_URL: http://172.23.0.51:3000      # IP do Grafana na rede kind_bridge
  GRAFANA_TOKEN: glsa_SEU_TOKEN_AQUI        # token da service account do Grafana
  LLM_PROVIDER: anthropic                   # anthropic | openai
  LLM_MODEL: claude-sonnet-4-20250514       # modelo a usar
  LLM_API_KEY: sk-SEU_TOKEN_AQUI            # chave da API do provider
  LLM_BASE_URL: ""                          # opcional: URL customizada (LM Studio, proxies)
