apiVersion: v1
kind: Secret
metadata:
  name: notification-api-secret
  namespace: notification-api
type: Opaque
stringData:
  # Azure Event Hub
  EVENT_HUB_CONNECTION_NOTIFICATION_SEND: "Endpoint=sb://<namespace>.servicebus.windows.net/;SharedAccessKeyName=<key-name>;SharedAccessKey=<key-value>"
  EVENT_HUB_NOTIFICATION: "evh-shape-notify"
  EVENT_HUB_CONSUMER_GROUP: "evhcg-shape-notify"

  # Application
  APP_ENV: "dev"
  HOST: "http://localhost:5000"

  # OpenTelemetry
  OTEL_ENABLED: "true"
  OTEL_SERVICE_NAME: "shape.notification.api"
  OTEL_EXPORTER_OTLP_ENDPOINT: "http://localhost:4318"
  OTEL_SEMCONV_STABILITY_OPT_IN: "http"
